{:source-paths ["src"]

 :dependencies [[org.clojure/core.async "0.4.500"]
                [reagent "1.0.0"]]

 :dev-http     {3449 "resources/public/"}

 :builds       {:app  {:output-dir "resources/public/"
                       :asset-path "."
                       :target     :browser
                       :modules    {:main {
                                           :init-fn webgl-30.core/init!
                                           }}
                       :devtools   {
                                    :after-load webgl-30.core/reload!
                                    }
                       }

                :test {:target    :node-test
                       :output-to "out/node-tests.js"
                       :runner-ns webgl-30.test-all         ;; TODO
                       :main      webgl-30.test-all/init
                       }}}