{:source-paths ["src"]

 :dependencies [[org.clojure/core.async "0.4.500"]
                [reagent "1.0.0"]]

 :dev-http     {3449 "resources/public/"}

 :builds       {:app {:output-dir    "resources/public/"
                      :asset-path    "."
                      :target        :browser
                      :module-loader true
                      :modules
                                     {:main {:init-fn webgl-30.lessons.main/init!}}
                      :devtools      {
                                      :after-load webgl-30.lessons.main/reload!
                                      }
                      }

                }}